BasedOnStyle: Google

AccessModifierOffset: '-4'

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
 
ColumnLimit: 0

IndentWidth: 4
IndentCaseLabels: false

ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: false